.container {
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    max-width: 750px;
    margin: auto;
  }
  @media (min-width: 1024px) {
    max-width: 980px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  @media (min-width: 1400px) {
    max-width: 1350px;
  }
}

.has-scrollbar {
  padding-bottom: 5px;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
  }
}
.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}
